@import '../styles/variables';

.main-header {
  align-items: center;
  background-color: $dark;
  background-size: 693px 189px;
  border: $lowlight 7px double;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  height: 189px;
  justify-content: space-between;
  position: fixed;
  text-align: center;
  text-shadow: 2px 2px $dark;
  width: 693px;
  z-index: 1;
}

.header-title {
  background-color: $light;
  border: $lowlight 7px dotted;
  box-sizing:border-box;
  color: $highlight;
  padding: .5em .8em;
  width: 500px;
}

.header-link {
  cursor: pointer;
  text-decoration: none;
}