@import '../styles/variables';

header {
  padding-left: 3em;
  color: $highlight;
  // border: 1px solid purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}