@import '../styles/variables';

.modal {
  align-items: center;
  background-color: $dark;
  color: $light;
  display: grid;
  height: auto;
  justify-content: center;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  position: relative;
  top: 200px;
  text-align: center;
  width: 90vw;
  z-index: .5;
}

button {
  background-color: $light;
  padding: .5em 1em;
  border-radius: 5px;
  &:hover {
    background-color: $highlight;
    color: $light;
    cursor: pointer;
  }
  :focus {
    background-color: $highlight;
  }
}

.modal img {
  grid-column: 1 / 4;
  box-shadow: -4px -4px 6px $lowlight;
  height: auto;
  width: 75vw;
  margin: 1em auto;
}

.m-data {
  width: 80vw;
  border: $lowlight 8px dotted;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5em;
  margin: 1em auto;
  // width: 600px;
  position: relative;
  padding: 1rem;
}

.m-title,
.m-tagline {
  margin: 0;
  grid-column: 1 / 4;
  text-shadow: 1px 1px $highlight;
}

.m-date,
.m-rating,
.m-runtime,
.m-budget,
.m-revenue {
  font-size: smaller;
  margin: 0;
  text-align: left;
}

.m-overview {
  grid-column: 1 / 4;
  text-align: justify;
  line-height: 1.4;
  font-size: smaller;
}

.m-genre {
  font-size: smaller;
  grid-column: 1 / 4;
  text-align: left;
  width: 100%;
}

.m-genre-title {
  grid-column: 2 / span 1;
}

.m-genre ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
}

.show {
  opacity: 1;
  pointer-events: auto;
}

@media only screen and (min-width: 800px) {
  .modal img {
    grid-column: 1 / 4;
    box-shadow: -4px -4px 6px $lowlight;
    height: auto;
    width: 450px;
    margin: 1em auto;
  }


  .m-data {
    border: $lowlight 8px dotted;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5em;
    margin: 1em auto;
    width: 600px;
    position: relative;
    padding: 1rem;
  }
}