/* TYPE / COLORS */
// $font: 'Raleway', sans-serif;
// $dark: #202125;
// $light: #E3C4A0;
// $highlight: #BE2A37;
// $lowlight:  #eee9bd;


/* TYPE / COLORS */
$font: 'Raleway', sans-serif;
$dark: #03071E;
$light: #E0E0E0;
$highlight: #9d0208;
$lowlight: #B88400;
