@import "../styles/variables";

main {
  border: $lowlight 8px dotted;
  border-top: none;
  box-sizing: border-box;
  color: $light;
  display: grid;
  gap: 1.7em;
  grid-template-columns: 1fr 1fr 1fr;
  height: auto;
  justify-content: center;
  margin: auto;
  padding: 1em 2em 1em 2em;
  position: relative;
  row-gap: 2em;
  top: 205px;
  width: 690px;
}