main {
  // border: 2px solid blue;
  padding: 1em;
  color: #E3C4A0;
  box-sizing: border-box;
  display: grid;
  height: auto;
  width: 95vw;
  margin: auto;
  gap: 1em;
  row-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}