@import "../styles/variables";

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: $font;
  justify-content: flex-start;
  width: 95vw;
}

@media only screen and (min-width: 800px) {
  .App {
    width: 693px;
  }
}