@import '../styles/variables';

section {
  height: 70vh;
  display: flex;
  flex-direction: column;
  background-color: $highlight;
  color: $light;
  padding: 1em;
  box-sizing: border-box;
  width: 693px;
  margin: auto;
  position: relative;
  top: 189px;
}

.borked-gif {
  height: 200px;
  width: auto;
  margin: 1em auto 0 auto;
}

.borked-title {
  margin: 1em auto 0 auto;
}

.borked-link {
  text-align: center;
  margin: 1em;
  line-height: 1.6;
  color: $light;
  :hover {
    cursor: pointer;
  }
}
